*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right, #554994,80%,#F675A8);
    min-height: 100vh;
    font-family: sans-serif;
    padding-top: 40px;
}

#root{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}